* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.main-container {
  border: 1px solid black;
  height: 100%;
  width: 70%;
  background-image: url(./assets/images/background-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
}

.f-circle {
  position: absolute;
  width: 220px;
  height: 218px;
  margin: 20px;
  top: -75px;
  left: 0;
  right: -200px;
  background-image: url(./assets/images/pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: 170px auto;
}

.p-line {
  position: absolute;
  width: 90%;
  height: 60%;
  background-image: url(./assets/images/pattern-lines.svg);
}

.s-circle {
  position: absolute;
  width: 218px;
  height: 218px;
  bottom: 20%;
  left: 70%;
  background-image: url(./assets/images/pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: 150px auto;
}

.squiggly-line {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 30px;
  right: -10%;
  background-image: url(./assets/images/pattern-squiggly-line-top.svg);
  background-repeat: no-repeat;
  background-size: 200px auto;
}

.squiggly-line-bottom {
  position: absolute;
  width: 55%;
  height: 50%;
  top: 50%;
  left: 0%;
  background-image: url(./assets/images/pattern-squiggly-line-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px auto;
}

.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* First Section */
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.heading-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.write-up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* transform: translateY(30px); */
}

.img {
  margin-top: 70px;
  margin-bottom: 30px;
}

.conf-icon {
  width: 120px;
  height: auto;
}

h1 {
  margin-top: 7px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  padding-left: 230px;
  padding-right: 230px;
}

p {
  padding-left: 370px;
  padding-right: 370px;
  font-weight: 900;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(252, 6%, 83%);
  transform: translateY(17px);
}

span {
  color: hsl(7, 86%, 67%);
}

.details {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.ticket-bg {
  width: 400px;
  height: auto;
  transform: translateY(80px);
}

.details .details-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.first-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: -70px;
  transform: translateY(55px);
}

.div-text {
  color: hsl(252, 6%, 83%);
  font-size: 0.9rem;
  font-weight: 900;
  transform: translateX(28px);
}

.second-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  left: -90px;
  transform: translateY(110px);
}

.second-div .person {
  width: 60px;
  height: auto;
  border-radius: 10px;
  position: relative;
}

.second-div .person-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.person-details .person-name {
  font-size: 1.1rem;
  /* transform: translateX(px); */
  transform: translateY(-5px);
  position: relative;
  right: -10px;
  color: hsl(0, 0%, 100%);
}


.person-details .person-github {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
  transform: translateY(-2px);
  transform: translateX(3px);
}

.github-icon {
  width: 17px;
  height: auto;
   transform: translateY(2px);
}

.person-details .person-github .username {
  font-size: 1.2rem;
  color: hsl(252, 6%, 83%);
}
